ul, li{list-style:none; margin:0; padding:0; font:1em/1.4 Helvetica, Arial, sans;}
li.folder{margin-top:10px; border-radius:5px; padding-top: 3px; text-indent:1em}
p.ok{border-radius:.3em}
.pages{margin-top:1em}
.pages li.folder{color: #fff; font-weight: bold;  background: #6e6e6e;}
.pages li.folder .folder{background: #555; text-indent:2em}
.pages li.folder .folder .folder{background:#444; text-indent:3em}
.pages li.folder .folder .folder .folder{background:#333; text-indent:4em}
.pages li.folder .folder .folder .folder .folder{background:#222; text-indent:5em}
.pages li.folder .folder, .pages li{border:1px solid #ccc; border-radius:0; border-bottom:none; margin:0}
.pages li {box-shadow: inset 0 -10px 2px rgba(136, 136, 136, 0.1);
 -o-box-shadow: inset 0 -10px 2px rgba(136, 136, 136, 0.1);
 -webkit-box-shadow: inset 0 -10px 2px rgba(136, 136, 136, 0.1);
 -moz-box-shadow: inset 0 -10px 2px rgba(136, 136, 136, 0.1);}
.pages li a{color:#730800; text-decoration:none}
.pages li a:hover{color:#000}
.folder .pages li:last-child{border-bottom:1px solid #ccc; border-bottom-left-radius:5px; border-bottom-right-radius:5px}
.pages  ul li{border:none}
.actions{float:right;clear:both; margin-right:.5em; width:4em }
.actions li a{color:#000; font-weight:bold; font-size:12px; text-decoration:none; text-overflow: ellipsis;text-indent:0; width:250px}
.actions li:hover{overflow:visible}
.folder .actions li:hover a{text-indent:-40px; z-index:20; color:transparent; text-shadow:rgba(255,250,205,0.1) -15px -15px 3px, #111 -15px -15px 0, #fffacd -15px -15px 5px} 
.actions li{display: inline; float:left; width:25px; position:relative; margin:0 0 0.3em; z-index:1; overflow:hidden;}
.pages .actions li, .pages .actions li:hover{background-color: transparent}

.actions li a{
    display:block;
    border:0;
    padding-left:28px;
    color:#730800;
}

.actions li a:hover, 
.actionsli a:focus, 
.actions li a:active {
    color:#000;
    background:transparent;
}

.actions li:before, 
.actions li:after,
.actions li a:before, 
.actions li a:after {
    content:"";
    position:absolute;
    top:60%;
    left:0;

}

.actions li a:before, 
.actions li a:after {
    margin:-6px 0 0;
    background:#730800;
}

li a:hover:before, 
li a:focus:before, 
li a:active:before {
    background:#000;
}

/**
* ----------------------------------------------------------
* @section CSS GUI ICONS 
* based on http://nicolasgallagher.com/pure-css-gui-icons/
* Dual licensed under MIT and GNU GPLv2 Â© Nicolas Gallagher 
* -----------------------------------------------------------
*/

/* CLONE
---------------------------------------*/

.actions .clone a:before, 
.actions .clone a:after {
    width:12px;
    height:8px;
    border:1px solid #730800;
    margin-top:-4px;
    background:#fff;
}
 
.actions .clone a:after {
    left:3px;
    margin-top:-7px;
}

.clone a:hover:before, 
.clone a:focus:before, 
.clone a:active:before,
 .clone a:hover:after, 
 .clone a:focus:after, 
 .clone a:active:after {
    border-color:#000;
    background:#fff;
}

/* PREVIEWS
---------------------------------------*/
.actions .previews a:before {
    width:6px;
    height:6px;
    border:3px solid #730800;
    background:transparent;
    /* css3 */
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
}

.actions .previews a:after {
    left:10px;
    width:3px;
    height:7px;
    margin-top:0;
    /* css3 */
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.previews a:hover:before, 
.previews a:focus:before, 
.previews a:active:before {
    border-color:#000;
    background:transparent;
}

.previews a:hover:after, 
.previews a:focus:after, 
.previews a:active:after {
    background:#000;
}



.folder:before{font-weight:bold;color:#fff}
li.folder:before{content:"\0025BC \0000A0";}

.pages li.pg{text-indent:.5em; background-color:#fff; color:#222;border-bottom:1px solid #ccc}
.pages li.pg:hover{background-color:#fffacd}
.pages li.folder .folder li.pg{text-indent:2em}
.pages li.folder .folder .folder li.pg{text-indent:3em}
.pages li.folder .folder .folder .folder li.pg{text-indent:4em}
.pages li.folder .folder .folder .folder .folder li.pg{text-indent:5em}
.pg:before{content:"\002261 \0000A0";font-weight:bold;}
ul.pages>li.folder:first-child{border-radius:1em}
ul.pages li.pg:last-child{border-bottom:2px solid #ccc}
ul.pages>li.pg:last-child{border-radius:0 0 1em 1em}
